<form>
    <div class="mb-3">
        Choose an Area:
        <select class="form-select" aria-label="Select an Area">
            <option selected>Select an area</option>
            <option value="1">General physician</option>
            <option value="2">Physical therapist</option>
            <option value="3">Cardiologist</option>
        </select>
    </div>

    <div class="mb-3">
        Choose a Professional:
        <select class="form-select" aria-label="Select a Professional">
            <option selected>Select a professional</option>
            <option value="1">Dr. John</option>
            <option value="2">Dr. Mary</option>
            <option value="3">Dr. Mark</option>
        </select>
    </div>

    <div class="mb-3">
        Appointment Type:
        <select class="form-select" aria-label="Select an Appointment Type">
            <option selected>Select a type</option>
            <option value="1">Private</option>
            <option value="2">Insurance SMB</option>
            <option value="3">Insurance FHS</option>
        </select>
    </div>

    <div class="mb-3">
        Create or type a client name:
        <div class="input-group">
            <input class="form-control" type="text" value="" aria-label="readonly input example">
        </div>
        <div class="text-start">
            <small>Confirm the client's phone: 204-293-5839</small>
        </div>
    </div>

    <div class="mb-3">
        Comments:
        <textarea class="form-control" id="floatingTextarea"></textarea>
    </div>

</form>